<div class="jumbotron banner text-center">
  <h1 class="jumbo-title">Queen</h1>
  <a class="btn btn-light btn-lg" href="https://open.spotify.com/artist/1dfeR4HaWDbWqFHLkxsg1d?autoplay=true" role="button">Listen on Spotify</a>
  <a class="btn btn-light btn-lg" href="https://itunes.apple.com/us/artist/queen/3296287?ign-gact=3&ls=1" role="button">Listen on Apple Music</a>
</div>
