{% extends '_templates/base.njk' %}

{% block content %}
  <article class="container">
    <h1>Queen's Discography</h1>
    <p><center>A list of Queen's original studion albums</center></p>
    <div class="row">
    {% for album in queen.discography %}
      <div class="col-sm-6 col-lg-4 mb-2">
        <div class="card">
          <img src="img/discs/{{ album.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ album.title }}</h5>
            <p class="card-text">{{ album.year }}</p>
          </div>
        </div>
      </div>
   {% endfor %}
   </div>
{% endblock %}