{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}

{% include "_includes/jumbotron.njk" %}

<div class="container">
  <h1>Main headline here</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
  <h2>Library books loop</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <div class="row">
    {% for member in queen.members %}
      <div class="col-sm-3">
        <img src="../img/members/{{ slug }}-bw.jpg" alt="" class="img-fluid">
        <h3><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Bookstores loop</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for album in queen.discography %}
    <img src="../img/{{ discography.image }}" alt="" class="img-fluid">
    <h3><a href= "{{ relative_path }}discography.html" >{{ album.title }}</a></h3>
    <hr>
  {% endfor %}
  </div>

<div class="row">
  <h1>album<h1>
    {% for album in queen.discography %}
      <div class="col-sm-6">
        <img class="img-fluid" src="img/discs/Queen_Queen.jpg" alt="">
        <a href="{{ relative_path }}discography.html">{{ album.title }}</a>
      </div>
    {% endfor %}
 
  <h1>members<h1>
    {% for member in queen.members %}
      <div class="col-sm-6">
        <img class="img-fluid" src="img/members/{{ slug }}-bw.jpg" alt=""> 
        <h3><a href="members/{{member.slug }}.html">{{ member.name }}</a></h3>
        <a href="{{ relative_path }}members/{{ member.slug}}.html">{{ member.name }}</a>
      </div>
    {% endfor %}
</div>

{% endblock %}

<div class="row">
