{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Queen's Tour Dates 2021</h1>
  <p><center>Dates are subject to change due to COVID-19</center></p>
</article>
<div class="container">
{% for show in queen.tour2021 %}
  <table class="table table-striped">
     <thead>
      <tr>
          <th>Date</th>
          <th>City</th>
          <th>Venue</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ show.date }}</td>
        <td>{{ show.city }}</td>
        <td>{{ show.venue }}</td>
      </tr> 
    </tbody>
  </table>
{% endfor %}
</div>

{% endblock %}