{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-lg-4">
          <img src="../img/members/{{ slug }}-color.jpg" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-lg-8">
           <h1>{{ name }}</h1>
          <h2>{{instruments}}</h2>
          <h3>{{birthplace}}</h3>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
