// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

$body-bg: #D1AED6;
$body-color: #360674;
$link-hover-color: grey;
$font-family: 'Open Sans', sans-serif;

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Open+Sans&display=swap');
@import "bake-members";

h3 {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'New Rocker', cursive;
}

a {
  color: #787182
}

a:hover {
  color: black;
}